<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <div class ="main-content">
        {{>header}}
        <img class="potrait" src="/img/pic.jpg" alt="">
        <p>The site was created by DA and is a weatehr app</p>
    </div>
    
    {{>footer}}
<body>
    
</body>

</html>
